.todo-alert__success {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 12px 20px;
    border: 1px solid #badbcc;
}

.todo-alert__error {
    background-color: #f8d7da;
    color: #842029;
    padding: 12px 20px;
    border: 1px solid #f5c2c7;
}

.todo-alert__error ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


.todo-content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.form-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: 40px;
}

.create-btn {
    padding: 8px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 20%;
    height: 40px;
    cursor: pointer;
}

.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.todo-table__row {
    border-bottom: 1px solid #ccc;
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__box {
    width: 100%;
    outline: none;
    border: none;
}

.update-btn__submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-btn__submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}
